.zz-button {
  &-default {
    padding: 5px 10px;
    border-radius: 4px;
  }
  &-primary {
    background-color: aqua;
    color: chocolate;
    border-radius: 4px;
  }
  &-big {
    padding: 10px 20px;
  }
}
